<ion-header>
  <ion-navbar no-border color="primary">
    <ion-title>MicroPay</ion-title>
    <ion-buttons end>
      <button (click)="scanCode()" ion-button icon-only color="royal">
        <ion-icon  name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="back">
  <!--<button padding color="secondary" ion-button full (click)="pay()">Pay</button>-->

  <ion-fab id="butt" style="padding-left: 45%" middle>

        <button color="secondary"  id="butt" ion-fab large (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon></button>
      </ion-fab>
      <!-- Input for QR code -->
      <!-- <ion-item>
      <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
      </ion-input>
      </ion-item> -->
      <!-- <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button> -->
      <!-- <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button> -->

  <!-- <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card> -->


  <!--<button  ion-button full (click)="pay()">Pay</button>-->
  <ion-card *ngIf="scannedCode">
    <ion-card-content >
      <ion-label>You are about to pay</ion-label>
      <h1>$ {{ merchantData.MerchantData.amount}}</h1><br>
      <h6 middle align-items-center>To  {{ merchantData.MerchantData.merch_name}}</h6><br>



        <ion-input type="number" placeholder="ENTER PIN 0000"></ion-input>




    </ion-card-content>


  </ion-card>
  <div padding>
  <button *ngIf="scannedCode" padding color="secondary" ion-button full (click)="pay()">Pay</button>
  </div>

  <div padding>
  <img *ngIf="scannedCode" padding-left="30%" src="assets/imgs/verified.png" width="40%">
  </div>



</ion-content>
